[submodule "coffee-script"]
	path = coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "delimitmate"]
	path = delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "surround"]
	path = surround
	url = https://github.com/tpope/vim-surround.git
[submodule "supertab"]
	path = supertab
	url = https://github.com/ervandew/supertab.git
[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "peepopen"]
	path = peepopen
	url = https://github.com/shemerey/vim-peepopen.git
[submodule "jade"]
	path = jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "indent_levels"]
	path = indent_levels
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "commenter"]
	path = commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "ack"]
	path = ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "ruby-block"]
	path = ruby-block
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "argtextobj"]
	path = argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim.git
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim-rails"]
	path = vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "smartusline"]
	path = smartusline
	url = https://github.com/molok/vim-smartusline.git
